.menu__item {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .5s;
}

.menu__item:hover {
    opacity: 0.6;
    cursor: pointer;
}

.menu__item:last-of-type {
    padding-left: 20px;
}