.popup__button {
  width: 358px;
  height: 50px;
  background: #000000;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 35px 0 20px;
  transition: all ease 0.5s;
}

.popup__button:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.05);
}

@media (max-width: 550px) {
  .popup__button {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
