.login__input {
  width: 358px;
  height: 27px;
  background-color: #000;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  margin-bottom: 30px;
  padding: 13px 10px;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
}

.login__input:last-of-type{
  margin-bottom: 200px;
}
