.popup__span-error {
  display: none;
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  margin: -12px 0 -5px;
  justify-self: baseline;
  width: 362px;
  z-index: 1;
}

@media (max-width: 550px) {
  .popup__span-error {
    width: 238px;
  }
}
